<h1>Product Index</h1>
<p></p>

<%= link_to 'New Product', "/products/new" %>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th></th>
	</tr>


<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.formatted_price %></td>
		<td><%= link_to 'Review', reviews_new_path %></td>

	</tr>
<% end %>

</table>