<div id="container">
<h1>item detail</h1>

<p><%= link_to 'back', products_path %></p>

 <img src="http://flickholdr.com/200/300/sea,sun/1">
 <h2><%= @product.name %></h2>
 <%= @product.url %>
 <p><%= @product.formatted_price %></p>
  <p><%= @product.description %></p>

<% if current_user %>

  <h3>Reviews</h3>

  <p><strong>Reviews for<strong> <%= @product.name %></p>

  <div id="review-list">
    <%= render :partial => "products/reviews" %>
  </div>

  <h4>New Review</h4>

  <%= form_for([@product, @review], remote: true) do |f| %>
  <div id="review-form-errors">
    <%= render :partial => "/products/review_errors" %>
  </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>

    <% else %>
      <p>Please <%= link_to "Log In", new_session_path %> to add a review.</p> 
    <% end %>

<%= link_to 'Edit', edit_product_path(@product) %> 


<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { 
          $("input[type='submit']") /
            .val('Saving...') 
            .attr('disabled', 'disabled');
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>
 